<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Members Only</title>
    </head>
    <body class="min-h-screen flex flex-col">

        <header class="w-screen bg-dark mb-10 lg:mb-20 sm:mb-14">
            <nav class=" my-0 mx-auto lg:max-w-4xl text-center">
                <ul class="text-white font-bold">
                    <li class="w-1/4 inline-block">
                        <a href="/" class="inline-block w-full py-3 sm:py-4 md:py-5 md:w-36 duration-100 hover:text-primary font-semibold">Home</a>
                    </li>
                    <% if (user) { %>
                        <li class="w-1/4 inline-block">
                            <a href="<%= user.url %>" class="inline-block w-full py-3 sm:py-4 md:py-5 md:w-36 duration-100 hover:text-primary font-semibold">Account</a>
                        </li>
                        <li class="w-1/4 inline-block">
                            <a href="<%= user.url %>/status" class="inline-block w-full py-3 sm:py-4 md:py-5 md:w-36 duration-100 hover:text-primary font-semibold">VIP</a>
                        </li>
                        <li class="w-1/6 inline-block lg:w-1/6">
                            <a href="<%= user.url %>/logout" class="inline-block w-full py-3 sm:py-4 md:py-5 md:w-36 duration-100 hover:text-primary font-semibold"><i class="fa-solid fa-right-from-bracket"></i></a>
                        </li>
                    <% } else { %>
                        <li class="w-1/4 inline-block md:w-1/6 mr-2 ml-auto sm:mr-0">
                            <a href="/user/login" class="inline-block w-full py-3 sm:py-4 md:py-5 md:w-36 duration-100 hover:text-primary font-semibold">Login</a>
                        </li>
                        <li class="w-1/4 inline-block lg:w-1/6 mr-2 sm:mr-0">
                            <a href="/user/signup" class="inline-block w-full py-3 sm:py-4 md:py-5 md:w-36 duration-100 hover:text-primary font-semibold">Sign Up</a>
                        </li>
                    <% } %>
                </ul>
            </nav>
        </header>
        <div class="o-wrap">
