<!-- don't render when req.user is undefined; no user logged in-->
<% if (user) { %>
    <div class="c-message-form">
        <h1><%= title %></h1>
        <%- include('_hint_messages') %>

        <form
            action="/user/create-message"
            method="POST"
            class="c-form">
            <div class="c-form__group">
                <label for="title">Title</label>
                <input
                    type="text"
                    name="title"
                    id="title"
                    value="<%= message ? message.title : '' %>"
                    required>
            </div>
            <div class="c-form__group">
                <label for="text">Text</label>
                <textarea name="text" id="text" maxlength="499" required><%= message ? message.text : '' %></textarea>
            </div>
            <div class="c-form__group">
                <button type="submit" class="c-btn c-btn--submit">Add Message</button>
            </div>
        </form>
    </div>
<% } %>
