<% if (errors) { %>
    <div class="c-error-message">
        <%= errors[0].msg %>
        <button type="button" class="c-btn c-btn--close">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>
<% } %>