<%- include('./partials/_header') %>

<div class="w-full sm:max-w-md sm:mx-auto c-user-form">
    <h1 class="text-3xl sm:text-4xl md:text-5xl mb-5 sm:mb-8 md:mb-10 font-bold"><%= title %></h1>

    <%- include('./partials/_hint_messages', { errors }) %>

    <form
        action="/user/image/create"
        method="POST"
        enctype="multipart/form-data"
        class="c-form">
        <div class="c-form__group">
            <label for="image">Image (< 300kb)</label>
            <input type="file" id="image" name="image" required>
        </div>
        <button type="submit" class="c-btn c-btn--submit">Submit</button>
    </form>
</div>

<%- include('./partials/_footer') %>
