<%- include('./partials/_header') %>

<button type="button" id="addBtn" class="c-btn c-btn--submit">Add Message</button>
<!-- START message list -->
<!-- TODO: pass down message_list as props? -->
<%- include('./partials/_message') %>
<!-- END message list -->

<%- include('./partials/_message_form') %>

<%- include('./partials/_footer') %>
